apiVersion: 1

datasources:
  - name: TimescaleDB
    type: postgres
    access: proxy
    url: timescaledb:5432
    user: postgres
    secureJsonData:
      password: postgres
    jsonData:
      database: industrial_data
      sslmode: disable
      postgresVersion: 1400
      timescaledb: true
    isDefault: true
    editable: true
